# Trabalho Final de Introdução a Linguagens Estatísicas

**Aluno**:

**Matrícula**:

## 01 - Tratamento da base *perfil.csv*

Essa base apresenta 111 registros, um para cada funcionário da empresa, identificados pela coluna numérica **perfil_id**, além da coluna **gender** que descreve o gênero.

In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

perfil = pd.read_csv("bases/perfil.csv")

# Análise inicial
print("Nº de registros:", len(perfil))
print("Nº de valores únicos de perfil_id:", perfil.perfil_id.nunique())
print("Nº de valores únicos de gender:", perfil.gender.nunique())
print("Valores faltantes em gender:", perfil.gender.isnull().sum())

Nº de registros: 111
Nº de valores únicos de perfil_id: 111
Nº de valores únicos de gender: 2
Valores faltantes em gender: 7

In [2]:
perfil.describe(include="all")

         perfil_id gender
count   111.000000    104
unique         NaN      2
top            NaN   MALE
freq           NaN     65
mean     55.000000    NaN
std      32.186954    NaN
min       0.000000    NaN
25%      27.500000    NaN
50%      55.000000    NaN
75%      82.500000    NaN
max     110.000000    NaN

Foram identificados valores vazios de gênero que foram preenchidos com a categoria "Não informado". As categorias **MALE** e **FEMALE** foram renomeadas para **Masculino** e **Feminino**. O resultado do tratamento está na nova coluna **genero**.

In [3]:
# Copia a coluna gênero para preservar os dados originais
perfil['genero'] = perfil.gender;

# Tratamento de valores vazios e nome das categorias
perfil.genero.fillna("Não informado", inplace=True)

# Renomeia as categorias
perfil.loc[perfil.genero == "MALE", "genero"] = "Masculino"
perfil.loc[perfil.genero == "FEMALE", "genero"] = "Feminino"

O resultado dos tratamentos será armazenado na nova base **perfil-tratado.csv**.

In [4]:
# Grava um csv tratado
perfil_tratado = perfil[['perfil_id', 'genero']].copy().set_index('perfil_id')
perfil_tratado.to_csv('bases/perfil-tratado.csv')

perfil_tratado.describe(include="all")

           genero
count         111
unique          3
top     Masculino
freq           65

### Navegação:
* [Voltar para a análise](00-analise-dos-dados.ipynb)
* [Continuar para o próximo documento](02-tratamento-base-linguas.ipynb)